<?xml version="1.0"?>
<launch>
    <arg name="medusa" default="false"/>
    <node name="wsg_50_driver"  pkg="wsg_50_driver" type="wsg_50_ip">
	<param name="ip" type="string" value="192.168.1.51" if="$(arg medusa)"/>
	<param name="ip" type="string" value="192.168.1.20" unless="$(arg medusa)"/>
	<param name="port" type="int" value="1000"/>
  </node>

</launch>

